{% extends "auctions/layout.html" %}

{% block body %}
<div class="container col-md-12">
    <div class="row">
        <!-- Listing title -->
        <div class="col-md-5">
            <div class="mb-4">
                <h2>{{listing.title}}</h2>
            </div>
            <div class="mb-4">
                <img src="{{listing.photo}}" alt="{{listing.title}}" class="img-fluid rounded">
            </div>            
        </div>
        <!-- Right column: Listing description, price & upload date. Button for seller to end auction; add/remove watchlist -->
        <div class="col-md-7">
            <div class="mb-4">
                <h4>Description</h4>
                <p>{{listing.description}}</p>
                <div class="text-muted">
                    <small>Category: <a href="{% url 'category' category_name=listing.category %}"> {{listing.category}}</a></small>
            </div>
            <h3>£ {{listing.price}}</h3>

            <div class="text-muted">
                <small>Published: {{listing.publication_date}}</small>
            </div>
            <div class="mb-4">
                {% if user.is_authenticated and user == listing.owner %}
                    <form action="{% url 'closed_listing' listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">End Auction</button> 
                    </form>
                {% endif %}
            </div>
            {% if messages %}
                <div class="container mt-3">
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.is_authenticated and user.id != listing.owner.id %}
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="price">Bid</label>
                    <input id="up_bid" min="0.01" max="999999.99" step="0.01" type="number" name="up_bid" placeholder="new bid">
                    <button type="submit" class="btn btn-primary">Submit Bid</button>
                </div>
            </form>
            {% endif %}

            {% if user.is_authenticated and user.id != listing.owner.id %}
            <div class="mb-4">
                {% if listing in user.watchlist_items.all %}
                    <form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2> Comments </h2>
            {% if user.is_authenticated %}
            
            <form action="{% url 'add_comment' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="comment">Add comments</label>
                    <textarea name="content" id="content" class="form-control" placeholder="Add Comment Here" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            {% endif %}
            <div class="mt-4">
                {% if comments %}
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        <div class="comment-content">{{ comment.content }}</div>  <!-- Wrap comment in a div -->
                        <small class="text-muted">Posted by {{ comment.user }} on {{ comment.publication_date }}</small>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-muted">No comments</p>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}