{% extends "auctions/layout.html" %}

{% block body %}
<div class="main_listing">
    <div class="listing_title">
        <h2>{{listing.title}}</h2>
    </div>
    <div class="listing_photo">
        <img src="{{listing.photo}}" height="200px" alt="{{listing.title}}">
    </div>
    <div class="listing_rhs">
        {% if user.is_authenticated and user == listing.seller %}
        <button>Close listing</button>
        {% endif %}
        <div class="listing_price">
            £ {{listing.price}}
        </div>
        <div class="listing_details">
            <h4>Description</h4> <br>
            {{listing.description}}
        </div>
    </div>


    {% if user.is_authenticated and user.id != listing.seller.id %}
    <button>Bid</button>
    <button type="button" onclick="">Add to watchlist!</button>
    {% endif %}

    <div class="comments_section">
        <h2> Comments </h2>

        {% if user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label>Add comments</label>
                <input type="text" placeholder="Add Comment Here">
                <button type="submit">Post</button>
            </div>
        </form>
        {% endif %}

        {% if comments %}
        <ul>
            {% for comment in comments %}
            <li>
                {{ comment.content }} <br>
                Posted by {{ comment.user }} on {{ comment.publication_dat }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No comments</p>
        {% endif %}
    </div>


</div>

{% endblock %}