{% extends "auctions/layout.html" %}

{% block body %}
<div class="container col-md-12">
    <h2>Items you own</h2>
</div>

{% for listing in items %}
<div class="col-md-6 col-lg-4 mb-4">
    <div class="card h-100">
        <!-- Photo -->
        {% if listing.photo %}
            <img src="{{listing.photo}}" class="card-img-top img-fluid rounded" alt="{{listing.title}}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{ listing.description|truncatewords:20}}</p>
            <div class="text-muted">£ {{listing.price}}</div>
            <div class="text-muted">Published: {{listing.publication_date}}</div>
            <a href="{% url 'closed_listing' listing_id=listing.id %}">View Listing</a>
        </div>
    </div>
</div>
{% endfor %}

<div class="container col-md-12">
    <h2>Active Auctions</h2>
</div>
{% for listing in sales %}
<div class="col-md-6 col-lg-4 mb-4">
    <div class="card h-100">
        <!-- Photo -->
        {% if listing.photo %}
            <img src="{{listing.photo}}" class="card-img-top img-fluid rounded" alt="{{listing.title}}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{ listing.description|truncatewords:20}}</p>
            <div class="text-muted">£ {{listing.price}}</div>
            <div class="text-muted">Published: {{listing.publication_date}}</div>
            <a href="{% url 'closed_listing' listing_id=listing.id %}">View Listing</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}