{% extends "auctions/layout.html" %}

{% block body %}
<div class="container col-md-12">
    <h2>Here is your watchlist {{user.username}}!</h2>
</div>

{% if user.is_authenticated %}
    {% if watchlist_items %}
    <div class="row">
        {% for listing in watchlist_items %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <!-- Photo -->
                {% if listing.photo %}
                    <img src="{{listing.photo}}" class="card-img-top img-fluid rounded" alt="{{listing.title}}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">{{ listing.description|truncatewords:20}}</p>
                    <div class="text-muted">£ {{listing.price}}</div>
                    <div class="text-muted">Published: {{listing.publication_date}}</div>
                    <a href="{% url 'listing' listing_id=listing.id %}">View Listing</a>
                    <form action="{% url 'remove_from_watchlist' listing.id %}?next=watchlist" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">Your watchlist is empty.</p>
    {% endif %}
{% else %}
<p>Please log in to create a watchlist.</p>
{% endif %}

{% endblock %}